* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(180deg, #7bcbd4 0%, #29c6b7 100%);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
